%h1.inline_h.headerPages
  %i.fa.fa-paperclip
  =t('AddAttachment')

= render 'form'
%br
= link_to '<i class="fa fa-reply"></i>'.html_safe + ' ' + t('Back_to_Attach'), attachments_path, class: 'btn btn-default'


