%h2
  = - t('EditH') +": "+ @page.title

= render 'form'
%br
= link_to t('ShowBody'), @page, class: "btn btn-default"
\|
= link_to '<i class="fa fa-reply"></i>'.html_safe + ' ' + t('Back'), pages_path, class: "btn btn-default"
