$font-family-sans-serif: 'Open Sans', sans-serif;
$font-size-base: 16px;

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import "fonts";
@import "token-input-bootstrap3";

.centerTd{
  text-align: center;
}

body {
  
}

.field_with_errors {
  @extend .has-error;
}

.alert-notice {
  @extend .alert-success;
}

.btn-toolbar {
  padding: $padding-large-vertical 0;
}

.topLinks {
  font-weight: bold;
  font-size: 15px;
  text-decoration: underline;
}

.topLinks:hover {
  font-weight: bold;
  font-size: 15px;
  text-decoration: underline;
}

.wBut {
  font-weight: bold;
}

.headerPages {
  color: #5555AA;
  text-decoration: none;
}

.inline_h {
 display: inline;
}

.sign {
  font-size: 22px;
}

.green_sign {
  color: #22AA22;

}

.red_sign {
  color: #AA2222;

}

textarea {
  width: 100%;
  resize:none;
  overflow-y: scroll;
 
}

.wide {
  text-align: left;
  background-color: rgb(119, 119, 119);
  color: white;
  width: 100%;
  margin: 0px;
  display: inline-block;
 
}

.downTab {
  width: 100%;
  padding: 0px;
  margin: 0px;
}

.mid {
  margin-top: 100px;
  margin-bottom: 10px;
  text-align: center;
}
